name: BankForce CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  quality-gate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Block System.debug in Apex classes
        run: |
          if grep -R --line-number "System\.debug" bankforce-sfdx/force-app/main/default/classes; then
            echo "❌ System.debug encontrado. Remova antes de subir o código."
            exit 1
          fi

      - name: Passed
        run: echo "✅ Quality gate passed"
